@import "~materialize-css/sass/materialize";

#dish-list-tab {
  padding: 0;
}

.collection-item {
  h5 {
    font-weight: bold;
    margin: 0;
  }
  .description {
    padding-left: 0;
  }
  .weight-price {
    padding: 0;
  }
  strong {
    font-size: 1.2em;
  }
}